/* General styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #111;
  color: #fff;
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup box */
.popup {
  background-color: #333;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
}

.popup-header {
  display: flex;
  margin-bottom: 10px;
  /* gap: 185px; */
}

.notifier{
  width: 500px;
}

h1 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  text-align: center;
  border-top: 2px solid #fff; 
  padding-top: 10px;

}

#closePopup {
  background: none;
  border: none;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}
.container-1, .container-2, .container-3{
  border-bottom: 0.5px solid #00000040;
}
.popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input{
  margin-right: 30px;
  margin-bottom: 20px;
}

.paragraph-for-BH, .paragraph-for-SN, .paragraph-for-FI{
  font-size: 12px;
  color: #bbb;
  margin: 0;
  display: flex ;
  gap: 95px;
}
/* Footer */
.popup-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

#Submitbtn {
  padding: 8px 16px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#Submitbtn:hover {
  background-color: #777;
}
