* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background: url('https://res.cloudinary.com/dpxfbom0j/image/upload/v1730295263/Rectangle_3_aufdel.png') no-repeat;
    background-color: #000;
    color: #fff;
    font-family: 'IBM Plex Mono', sans-serif;
}

.form-container {
    width: 600px;
    padding: 30px 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.07);
    background-image: url('https://res.cloudinary.com/dpxfbom0j/image/upload/v1730361803/blue_gradient_un73ms.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    text-align: center;
    line-height: 185%;
    margin-top: 350px;
}

.form-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group input {
    width: 85%;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.26);
    color: #ffffff;
    font-family: 'IBM Plex Mono', sans-serif;
}

.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.61);
}

.show-password {
    display: flex;
    align-items: center;
    margin-top: -5px;
    width: 85%;
}

.show-password input[type="checkbox"] {
    margin-right: 10px;
}

.show-password label {
    font-size: 0.6em;
    color: #ccc;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 55%;
}

#login_btn  {
    padding: 0.3rem 1rem;
    border: 2px solid #ffffff; 
    border-radius: 10px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #D9D9D9; 
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

#btn_back {
    position: absolute;
    top: 6px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: #6092C0; 
    border-radius: 10px;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.button:hover #btn_back {
    opacity: 53; 
    transform: translate(4px, 4px); 
}

.button:hover #login_btn {
    color: #090808; 
    transform: translate(4px, 4px);
    border-color: #ffffff; 
}

.forgot_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

#forgot-pass {
    padding: 0.3rem 1rem;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #D9D9D9;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

#forgot_btn_back {
    position: absolute;
    top: 6px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: #6092C0;
    border-radius: 10px;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.forgot_button:hover #forgot_btn_back {
    opacity: 53;
    transform: translate(4px, 4px);
}

.forgot_button:hover #forgot-pass {
    color: #090808;
    transform: translate(4px, 4px);
    border-color: #ffffff;
}

.button, .forgot_button {
    margin-right: 30px;
    margin-left: 30px; 
}

.account-section {
    text-align: center;
}

.account-section p {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    font-size: 1rem;
}
.account-section p a{
    color: yellow;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: bold;
    text-decoration: none;

}
.account-section p::before,
.account-section p::after {
    content: "";
    display: inline-block;
    width: 90px;
    height: 1px;
    background-color: white;
    vertical-align: middle;
}

.account-section p::before {
    margin-right: 10px;
}

.account-section p::after {
    margin-left: 10px;
}
.sign-up-section {
    text-align: center;
}

.sign-up-section p {
    font-family: 'IBM Plex Mono', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 0.8rem;
}
.sign-up-section p a{
    color: yellow;
    font-family: 'IBM Plex Mono', sans-serif;
    text-decoration: none;

}
