body {
    background-color: black;
    font-family: "IBM Plex Mono", monospace;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    z-index: 0;
    margin-bottom: 120px;
}

.logo {
    position: fixed;
    top: 20px;
    left: 30px;
    width: 50px;
    height: auto;
    z-index: 10;
}
.page-title h1 {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
}

.profile-container {
    display: flex;
    width: 850px;
    height: 400px;
    border: 1px solid #ffffff15;
    background-color: #ffffff11;
    border-radius: 20px;
    /* padding: 20px 8px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.photo-container {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers both photo and button */
}

.change-photo {
    cursor: pointer;
    width: 126px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #001CB1, #E2DF71); 
    background-size: 400% 400%;
    transition: background 0.3s ease-in-out;
    border-radius: 50%;
    margin-bottom: 10px;
}




@keyframes color-wave {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    75% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.profile-container:hover .change-photo {
    animation: color-wave 4s ease-in-out infinite;
}

.change-photo img {
    width: 120px;  
    height: 120px;
    border-radius: 50%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}
.button-container .change-photo-btn {
    background: none;
    border: none;
    color: #ffffff61;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5px;
}

.button-container .change-photo-btn:hover {
    color: #fdfdfdd2;
}
.button-container .cancel-btn,
.button-container .set-btn {
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

.button-container .cancel-btn {
    background-color: #7e7e7e72;
    color: #C10000;
    font-weight: bold;

}

.button-container .set-btn {
    background-color: #3F5DF8;
    color: #FFFFFF;
    font-weight: bold;

}

.button-container .cancel-btn:hover {
    background-color: #c7c7c7;
}

.button-container .set-btn:hover {
    background-color: #2E4DDA;
}

.selection-avatar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* .men-selection, .women-selection, .other-selection{
    margin-left: 250px;
    margin-top: 10px;
    color: #ffffff52;
    font-weight: bold;
} */
.men-avatar, .women-avatar, .other-avatar{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 60px;
}

.men-avatar img, .women-avatar img, .other-avatar img{
    width: 77px;
    height: 77px;
}
.men-selection::before, 
.men-selection::after{
    content: "";
    display: inline-block;
    width: 230px; 
    height: 1px;
    background-color: #ffffff52;
    vertical-align: middle;
}

.women-selection::before, 
.women-selection::after, 
.other-selection::before, 
.other-selection::after {
    content: "";
    display: inline-block;
    width: 220px; 
    height: 1px;
    background-color: #ffffff52; 
    vertical-align: middle;
}

.men-selection::before, 
.women-selection::before, 
.other-selection::before {
    margin-right: 10px; /* Space between the line and text */
}

.men-selection::after, 
.women-selection::after, 
.other-selection::after {
    margin-left: 10px; /* Space between the text and line */
}

.men-selection, 
.women-selection, 
.other-selection {
    margin-left: 40px;
    margin-top: 10px;
    color: #ffffff52;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    align-items: center;
}
